<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>A basic HTML table</h2>

<table style="width:100%">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
    <th>Operations</th>
  </tr>
  {% for i in register %}
  <tr>
    <td>{{i.fname}}</td>
    <td>{{i.lname}}</td>
    <td>{{i.email}}</td>
    <td><a href="{% url 'update' i.id %}">Update</a> | <button type="button">Delete</button></td>
  </tr>
  {% endfor %}
</table>

<p>To undestand the example better, we have added borders to the table.</p>

</body>
</html>
